<h3>Positions</h3>

<table>
  <tr>
    <th>Position Name</th>
  </tr>

  <% @positions.each do |position| %>
    <tr>
      <td><%= position.name %></td>
      <td><%= link_to 'Remove', '#' %></td>
    </tr>
  <% end %>
</table>

<%= simple_form_for @position do |f| %>
  <%= f.input :name %>

  <%= f.button :submit, 'Add' %>
<% end %>
