<%= simple_form_for @week do |f| %>
  <table class="schedules">
    <tr>
      <th>Employee</th>
      <% @weekdays.each do |wd| %>
        <th colspan="2">
          <%= wd.strftime("%A") %><br>
          <%= wd.strftime("%m/%d") %>
        </th>
      <% end %>
    </tr>

    <% @shifts.each do |employee, shifts| %>
      <tr>
        <td class="name"><%= employee.first_name %></td>

        <%= f.simple_fields_for "employee_#{employee.id}" do |ff| %>
          <% shifts.each_with_index do |shift, i| %>
            <%= ff.simple_fields_for "shift_#{i}_#{shift.id}", shift do |s| %>
              <td>
                <%= s.input :start_time, label: false, selected: [shift.start_time.strftime("%l:%M %p")], collection: time_drop_down(shift.start_time) %>
              </td>
              <td>
                <%= s.input :end_time, label: false, selected: [shift.end_time.strftime("%l:%M %p")], collection: time_drop_down(shift.end_time) %>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>

  </table>

  <%= f.button :submit, 'Save' %>
<% end %>
