<%= simple_form_for @week do |f| %>
  <%= f.button :submit, 'Save', action: :update %>
  <table class="schedules">
    <thead>
      <th>Employee</th>
      <% @weekdays.each do |wd| %>
        <th colspan="2" class="weekday" data-weekday="<%= wd.wday %>">
          <%= wd.strftime("%A") %><br>
          <%= wd.strftime("%m/%d") %>
        </th>
      <% end %>
    </thead>

    <tbody>
      <% @shifts.each do |employee, shifts| %>
        <tr>
          <td class="name"><%= employee.first_name %></td>

          <%= f.simple_fields_for "employee_#{employee.id}" do |ff| %>
            <% shifts.each_with_index do |shift, i| %>
              <%= ff.simple_fields_for "shift_#{i}_#{shift.id}", shift do |s| %>
                  <td class="start<%= request_check(shift) %>" data-weekday="<%= shift.start_time.wday %>">
                    <%= s.input :start_time, label: false, selected: [shift.start_time.strftime("%l:%M %p")], collection: time_drop_down(shift.start_time), value_method: lambda{|d| strftime_to_military(d) } %>
                  </td>
                  <td class="end<%= request_check(shift) %>" data-weekday="<%= shift.start_time.wday %>">
                    <%= s.input :end_time, label: false, selected: [shift.end_time.strftime("%l:%M %p")], collection: time_drop_down(shift.end_time), value_method: lambda{|d| strftime_to_military(d) } %>
                  </td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>

  </table>


<% end %>


<figure id="detailview"></figure>

<script id="detailItem" type="text/template">
  <div class="row">
    <div class="name small-4 columns"></div>
    <div class="shell">
      <div class="bar" style="width: %width%; left: %left%;">
      </div>
    </div>
  </div>
</script>

<table class="daily-planner">
  <thead>
    <th></th>
    <% @times.keys.each do |hour| %>
      <th colspan="4"><%= hour %></th>
    <% end %>
  </thead>

  <tbody>
    <% @shifts.keys.each do |employee| %>
      <tr>
        <td><%= employee.first_name %></td>
        <% @times.values.flatten.each do |min| %>
          <td class="fifteen-min <%= min.delete(':') %>"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
