<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title> -->
    <title>Dialgus</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to 'Dialgus', root_path %></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <% if current_user %>
            <li><%= link_to 'Employees', employees_path %></li>
            <li class="has-dropdown">
              <%= link_to 'Schedules', schedules_path %>
              <ul class="dropdown">
                <li><%= link_to "Time Off Requests", requests_path %></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="#"><%= current_user.first_name %></a>
              <ul class="dropdown">
                <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%=link_to 'Sign In', new_user_session_path %></li>
            <li class='active'><%=link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>
    <%= render 'layouts/flash' %>

    <div id="main-content">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
